.user__content__container {
    padding: 30px 15px;
    text-align: center;
}

.user__content__title {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 26px;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}